@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Reserva

@{
    ViewData["Tilte"] = "Registro por id";
}

<a asp-action="Index" class="btn btn-sm btn-primary">
    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
        <!--! Font Awesome Free 6.4.2 by fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
        <style>
            svg {
                fill: #ffffff
            }</style>
        <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
    </svg>
    Lista de dados</a>

<h2>
    @ViewData["Title"]
</h2>

<h3>@ViewBag.StatusCode</h3>

<form method="post">
    <div class="form-group">
        <label for="id">Id:</label>
        <input name="id" class="form-control"/>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-sm btn-primary">Obter reserva</button>
    </div>
</form>

<h2></h2>

@if (Model != null)
{
    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Local de partida</th>
                <th>Local de chegada</th>
                <th>Endereço</th>
                <th>CheckIn</th>
                <th>CheckOut</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Nome</td>
                <td>@Model.Sobrenome</td>
                <td>@Model.PontoA</td>
                <td>@Model.PontoB</td>
                <td>@Model.Endereco</td>
                <td>@Model.CheckIn</td>
                <td>@Model.CheckOut</td>
            </tr>
        </tbody>
    </table>
}


